@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.monserat {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-bg-secondary: #f4f4f4;

  --color-bg-primary: #030344;
  --color-primary: #300fbd;
  --color-secondary: #d7d7d7;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-msg {
  color: red;
  text-align: center;
}
